body {
  background-color: #EEE;
  font-family: sans-serif;
  font-size: 20px;
  padding: 25px;
  margin: 0;
  overflow:auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#container li{
  margin-bottom: 10px;
}

#theMenu{
  position:fixed;
  left: 0;
  top:0;
  transform: translate3d(-100ww,0,0);
  width: 100vw;
  height: 100vh;
}
